### **Number and String**

In [5]:
my_name= "Ahmed"

In [7]:
len(my_name)

5

In [9]:
my_name[2:]

'med'

In [2]:
firstName= "Ahmed"
SecondName= "Ali"
# print(firstName + "" + SecondName)

In [5]:
num = 15
print(firstName + " was " + str(num))

Ahmed was 15

### **List**

In [6]:
my_list = [25,31,98,67]

In [7]:
len(my_list)

4

In [8]:
my_list[0]

25

In [9]:
my_list[0:3]

[25, 31, 98]

In [10]:
my_list[:2]

[25, 31]

In [11]:
my_list2 = [5, 12.5, "Scoot", [214, 28, 2]]

In [15]:
my_list2[3][0]

214

In [16]:
class_1 = ["Ali", "Omar", "Osama"]
class_2 = ["karim", "Manal"]

In [19]:
all_classes = class_1 + class_2
all_classes

['Ali', 'Omar', 'Osama', 'karim', 'Manal']

In [20]:
class_1[0] = "Sayana"
class_1[2] = "Aanna"
class_1

['Sayana', 'Omar', 'Osama']

### **Tuple**

In [1]:
my_tuple = (15.2, 58.3, "Soltan")

In [2]:
my_tuple[:1]

(15.2,)

In [3]:
my_tuple[0] = 20

TypeError: 'tuple' object does not support item assignment

### **Dictionary**

In [4]:
person = {
    "first_name": "Tomas",
    "last_name": "Kitoun",
    "age": 25
}

In [5]:
person['first_name']

'Tomas'

In [8]:
# person.keys()
person.values()

dict_values(['Tomas', 'Kitoun', 25])

### **Set**

In [16]:
students = ["Ali", "Manal", "Lanna", "Omar", "karim", "Omar"]

In [17]:
students

['Ali', 'Manal', 'Lanna', 'Omar', 'karim', 'Omar']

In [22]:
# Set to delete the duplicate and store the data/ is not possible to change data in the Set type
students_set = set(students)

In [21]:
students_set

{'Ali', 'Lanna', 'Manal', 'Omar', 'karim'}